.only-mobile, .only-tablet { display: none; }
/* Larger than tablet */
@media (max-width: 1000px) {
    .only-tablet {display: block; }
    .no-tablet { display: none; }
    .center-tablet { text-align: center; }
    .expand-tablet .columns { width: 100%; margin-left: 0; }
    #page-content { margin-top: 56px; }
    .navigation { position: fixed; top: 56px; width: 100%; z-index: 2; padding: 20px 0; background: #111; opacity: 1; }
    .navigation li a { clear: both; width: 100%; padding: 10px 0 10px 0; border: none; margin-top: 0; border-bottom: 1px solid #333; }
    .navigation li:last-child a { border-bottom: none; margin-top: 15px; }
    .navigation-open { display: block; }
    div.submenu { position: fixed; top: 12px; z-index: 2;  }
    .subnav li a { margin-left: 0; clear: both; width: 100%; }
    .subnav { height: 50px; overflow: hidden; }
    .subnav .current { display: none; }
    .subnav-open { height: auto; }
    .subnav-open li a { margin: 0; }
    .subnav-open .current { border: none; }
    .ratingStars { width: 62px; height: 12px; }
    .tabs { border: none; }
    .tabs li a { clear: both; width: 100%; border: 1px solid #bbb; border-radius: 4px; margin-bottom: 15px; }
    .tabs li a.current { border: 1px solid #ddd; }
    .sinscrire { border-right: none; }
    #headline { padding: 120px 0; }
}
/* Larger than mobile */
@media (max-width: 550px) {
    .only-mobile {display: block; }
    .no-mobile { display: none; }
    .featherlight-content { width: 260px; }
    .center-mobile { text-align: center; }
    h1.page-title, h1.box-title { font-size: 34px; line-height: 36px; margin-top: 0; }
    #headline { padding: 80px 0; }
    /* Group mobile */
    .group-mobile .one.column, .group-mobile .one.columns   { width: 4.66666666667%; }
    .group-mobile .two.columns { width:13.3333333333%; }
    .group-mobile .three.columns                  { width: 22%;          }
    .group-mobile .four.columns                   { width: 30.6666666667%; }
    .group-mobile .five.columns                   { width: 39.3333333333%; }
    .group-mobile .six.columns                    { width: 48%;            }
    .group-mobile .seven.columns                  { width: 56.6666666667%; }
    .group-mobile .eight.columns                  { width: 65.3333333333%; }
    .group-mobile .nine.columns                   { width: 74.0%;          }
    .group-mobile .ten.columns                    { width: 82.6666666667%; }
    .group-mobile .eleven.columns                 { width: 91.3333333333%; }
    .group-mobile .twelve.columns                 { width: 100%; margin-left: 0; }
    .group-mobile .one-third.column               { width: 30.6666666667%; }
    .group-mobile .two-thirds.column              { width: 65.3333333333%; }
    .group-mobile .one-half.column                { width: 48%; }    
    .group-mobile .column, .group-mobile .columns { margin-left: 4%; }
    .group-mobile .column:first-child, .group-mobile .columns:first-child { margin-left: 0; }
    #footer { padding-bottom: 30px; }
}
@media print {    
    .no-print, .no-print * {
        display: none !important;
    }
}