{% extends "Home/Freelancer/home_layout.html.twig" %}

{% block homecontent %}

    <!-- Page Content
    ================================================== -->
    <!-- Employer Headline -->
    <div class="dashboard-headline">
        <h3>Post a Project</h3>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs" class="dark">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li>Add a Note</li>
            </ul>
        </nav>
    </div>

    <!-- Row -->
    <div class="row">
        {{ form_start(form, {'method': 'POST'}) }}
        <!-- Employer Box -->
        <div class="col-xl-12">
            <div class="dashboard-box margin-top-0">

                <!-- Headline -->
                <div class="headline">
                    <h3><i class="icon-feather-folder-plus"></i>Add a Note</h3>
                </div>


                <div class="content with-padding padding-bottom-10">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>Note priority</h5>
                                {{ form_widget(form.priority,{ 'attr': {'aria-expanded':'false','title':'Select Priority','role':'button','data-toggle':'dropdown','class' : 'btn dropdown-toggle bs-placeholder btn-default','name' : 'priority', 'placeholder': 'e.g. web'|trans} }) }}
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="submit-field">
                                <h5>Describe Your Note</h5>
                                {{ form_widget(form.noteText,{ 'attr': {'type':'textarea','class' : 'with-border','name' : 'noteText', 'placeholder': 'Description'|trans} }) }}
                                <!-- upload button-->

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Spacer -->
                <div class="margin-top-15"></div>
                <!-- Spacer / End-->

            </div>
        </div>

        <div class="col-xl-12">
            <!-- Button -->
            <button class="button ripple-effect big margin-top-30" type="submit" value="post">Add a Note</button>
        </div>

        {{ form_end(form) }}
    </div>
    <!-- Row / End -->
{% endblock %}