{% extends "Home/Freelancer/home_layout.html.twig" %}
{% block homecontent %}
    <!-- Page Content
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="sidebar-container">

                    <!-- Task -->
                    {% for note in notes %}
                            <!-- Job Listing Details -->
                            <div class="task-listing-details">
                                    <p class="task-listing-text">{{ note.noteText }}</p>
                                </div>

                            <div class="task-listing-bid">
                                <div class="task-listing-bid-inner">
                                    <a href="{{ path('delete_selfNote', {'id': note.id}) }}" class="button gray ripple-effect ico" data-tippy-placement="top" title="Remove sE"><i class="icon-feather-trash-2"></i></a>
                                </div>
                            </div>
                    {% endfor %}

                </div>
                <!-- Tasks Container / End -->

            </div>
            </div>
        </div>
    </div>

{% endblock %}